{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="text-center my-5">AGREGAR ARTISTA</h1>
        <div class="row">
            <div class="card py-4 px-4 col-4 mx-auto">
                <form action="/editar_persona" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label"># ID</label>
                        <input name="id" type="number" class="form-control" value="{{ persona.id }}" disabled>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nombre Completo</label>
                        <input name="nombre_completo" type="text" class="form-control"
                            value="{{ persona.nombre_completo }}" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Peso (kg)</label>
                        <input name="peso" type="number" step="0.01" class="form-control" value="{{ persona.peso }}" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Talla (mt)</label>
                        <input name="talla" type="number" step="0.01" class="form-control" value="{{ persona.talla }}">
                    </div>
                    <button type="submit" class="btn btn-primary">Editar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}